<div [@fadeAnimation]="'in'">
  <div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h3 class="text">Recent Projects</h3>
      <p class="text">
        Below, you will find an number of my projects, both personal and academic. If a project is live and accessible, you will be able to visit it. You will also find links to repositories; all projects displayed are open-source. I hope you enjoy having a look through, and you would like to get in touch to discuss any of them, feel free!
      </p>
    </div>
    <div class="col-md-1"></div>

  </div>

<!--  -->
<!--  -->
<!--  PERSONAL PORTFOLIO-->
<!--  -->
<!--  -->
  <div class="row mt-3">
    <div class="col-md-1"></div>
    <div class="col-md-10 border-bottom border-top pb-4 pt-4">
      <div class="card" style="border: none; background-color: #F5F5F5">
<!--        <h5 class="card-header">Featured</h5>-->
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title text">Personal Portfolio</h5>
            <h6 class="card-title text" style="font-weight: 200">2024</h6>
          </div>
          <p class="card-text text">
            In order to showcase myself and my projects, I designed and built this portfolio website as a static Angular app hosted with GitHub Pages. Not only a demonstration of my education and background, but of my skills and ability to design a single-page website with aesthetics and flow in mind.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <a href="http://www.louisparkes.co.uk" class="btn btn-outline-primary" style="font-family: 'Quattrocento Sans', sans-serif !important;">Visit Project</a>
            <div>
              <img src="assets/images/github-mark.png" style="width: 2rem; height: 2rem;" alt="GitHub.com">
              <a href="https://github.com/LouisP03/personal-portfolio/" class="btn btn-outline-secondary" style="font-family: 'Quattrocento Sans', sans-serif !important; margin-left: 1rem;">View Repository</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>

  <!--  -->
  <!--  -->
  <!--  PERSONAL PROJECT/TEACHCODE-->
  <!--  -->
  <!--  -->
  <div class="row mt-3">
    <div class="col-md-1"></div>
    <div class="col-md-10 border-bottom pb-4 pt-3">
      <div class="card" style="border: none; background-color: #F5F5F5">
        <!--        <h5 class="card-header">Featured</h5>-->
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title text">TeachCode</h5>
            <h6 class="card-title text" style="font-weight: 200">2023 - 2024</h6>
          </div>
          <p class="card-text text">
            TeachCode is a platform developed entirely by me, as part of my Final Year Project module at University of Birmingham.
            It is a full-stack JHipster web application that allows users to register as a teacher or student, and host/participate in programming tasks.
            A teacher can create tasks with sample code/expected output/chosen programming language, start this task, and view submissions and analytics for their task.
            Students are able to join using a unique room code when the task is started, write code, run the code, and submit it.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <img src="assets/images/teachcode.png" style="width: 2.2rem; height: 2.2rem;" alt="TeachCode">
              <a href="http://teachcode.bham.team:8080" class="btn btn-outline-primary" style="font-family: 'Quattrocento Sans', sans-serif !important; margin-left: 1rem;">Visit Project</a>
            </div>
            <div>
              <img src="assets/images/github-mark.png" style="width: 2rem; height: 2rem;" alt="GitHub.com">
              <a href="https://git.cs.bham.ac.uk/projects-2023-24/lvp103" class="btn btn-outline-secondary" style="font-family: 'Quattrocento Sans', sans-serif !important; margin-left: 1rem;">View Repository</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>

  <!--  -->
  <!--  -->
  <!--  STUDYSEA.LIVE-->
  <!--  -->
  <!--  -->
  <div class="row mt-3">
    <div class="col-md-1"></div>
    <div class="col-md-10 border-bottom pb-4 pt-3">
      <div class="card" style="border: none; background-color: #F5F5F5">
        <!--        <h5 class="card-header">Featured</h5>-->
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title text">StudySea</h5>
            <h6 class="card-title text" style="font-weight: 200">2023</h6>
          </div>
          <p class="card-text text">Helped lead a team of student software engineers and developed a full-stack JHipster social studying web application, assessed as part of the Team Project module at University of Birmingham. The platform developed allows users to plan their studies, study alongside friends in online Pomodoro-timed study sessions, join competition leagues, and create social-media style posts for others to see. A demonstration video is linked to better understand how the platform was created.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <img src="assets/images/image11.png" style="width: 2rem; height: 2rem;" alt="StudySea.live">
              <a href="http://www.louisparkes.co.uk" class="btn btn-outline-primary disabled" style="font-family: 'Quattrocento Sans', sans-serif !important; margin-left: 1rem;">Visit Project</a>
            </div>
            <div>
              <img src="assets/images/youtube.png" style="object-fit: cover; max-height: 2rem; max-width: 2rem" alt="YouTube.com">
              <a href="https://youtu.be/oWTlwUOa6ak?si=R-ujvnBu5DgK7Qa5" class="btn btn-outline-danger" style="font-family: 'Quattrocento Sans', sans-serif !important; margin-left: 1rem;">View Demonstration</a>
            </div>
            <div>
              <img src="assets/images/github-mark.png" style="width: 2rem; height: 2rem;" alt="GitHub.com">
              <a href="https://github.com/LouisP03/StudySea.live" class="btn btn-outline-secondary" style="font-family: 'Quattrocento Sans', sans-serif !important; margin-left: 1rem;">View Repository</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>

  <!--  -->
  <!--  -->
  <!--  PDF CREATION TOOL-->
  <!--  -->
  <!--  -->
  <div class="row mt-3">
    <div class="col-md-1"></div>
    <div class="col-md-10 border-bottom pb-4 pt-3">
      <div class="card" style="border: none; background-color: #F5F5F5">
        <!--        <h5 class="card-header">Featured</h5>-->
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title text">Automatic PDF/Email Creation</h5>
            <h6 class="card-title text" style="font-weight: 200">2023</h6>
          </div>
          <p class="card-text text">
            Created a simple plain JavaScript tool for automating the creation of documents such as box labels and Waste Transfer Notes (WTNs) and email templates by reading data from a spreadsheet. This is a small project I completed on my own initiative that automates a number of time-consuming processes I completed as part of my previous Account Manager position at a toner recycling company, reducing my daily workload significantly. It is still used to this day.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div>
<!--              <img src="assets/images/image11.png" style="width: 2rem; height: 2rem;" alt="StudySea.live">-->
<!--              <a href="http://www.louisparkes.co.uk" class="btn btn-outline-primary disabled" style="font-family: 'Quattrocento Sans', sans-serif !important; margin-left: 1rem;">Visit Project</a>-->
            </div>
            <div>
              <img src="assets/images/github-mark.png" style="width: 2rem; height: 2rem;" alt="GitHub.com">
              <a href="https://github.com/LouisP03/LexmarkCollections" class="btn btn-outline-secondary" style="font-family: 'Quattrocento Sans', sans-serif !important; margin-left: 1rem;">View Repository</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
