 <div [@fadeAnimation]="'in'">
     <div class="container justify-content-center d-flex text-center"><!--  <app-ng-text-animation-demo></app-ng-text-animation-demo>-->
     <h1>
       <span style="font-size: 3rem;">Louis Parkes</span><br>
       <span style="color: rgba(0,0,0,0.5); font-size: 1.4rem; font-weight: 200">BSc Computer Science (2021 - Ongoing)</span><br><br>
       <span style="font-size: 1.8rem">Student of Computer Science<br>
         University of Birmingham
       </span>
     </h1>

   </div>
   <div class="image-container">
      <img src="assets/images/image1.jpeg" style="margin-right: 2rem" alt="Image 1">
      <img src="assets/images/image2.jpeg" style="margin-right: 2rem" alt="Image 2">
      <img src="assets/images/image3.jpeg" style="margin-right: 2rem" alt="Image 3">
   </div>

   <div class="container justify-content-center d-flex text-center">
      <h3>Biography<br></h3>
   </div>

   <div class="container bio-container justify-content-center d-flex text-center" style="font-family: 'IBM Plex Serif', serif; font-weight: 300">
     <p>
       I am currently a Final Year Computer Science student working towards a Bachelor’s Degree at the University of Birmingham, UK. As a student of a subject which I also consider one of my primary passions, I have a thirst for exploring and learning about all developments in technology, and where it intersects with daily life.<br><br>

       My passion for computers has led to a deep interest in programming, which has matured over the course of my studies in school and at university. The love I have for the field finds its roots in simply playing and experimenting, starting at a very young age, learning things by having a profound curiosity about how they work.<br><br>

       In addition to these particular interests, I also devote myself to a wide range of things about which I am enthusiastic, all the way from music to mechanics.<br><br>

       I have learnt, having been afforded many opportunities over the course of my studies, that collaboration and teamwork is something I enjoy tremendously; knowing how to strike a balance between being receptive of new ideas and approaches, and having the confidence to lead and influence other people. I particularly thrive in groups where backgrounds are very diverse, and I find that the learning of others’ experiences, be it academically, professionally, or personally, is quite refreshing.<br><br>

       To summarise my professional goals, it is my aim to become a Software Engineer, and to work in an environment where I know my genuine passion for the subject, and curiosity to delve into new concepts, can truly be reflected in the work I produce.
     </p>
   </div>
 </div>
