 <div [@fadeAnimation]="'in'">
     <div class="container justify-content-center d-flex text-center"><!--  <app-ng-text-animation-demo></app-ng-text-animation-demo>-->
     <h1>
       <span style="font-size: 3rem;">Louis Parkes</span><br>
       <span style="color: rgba(0,0,0,0.5); font-size: 1.4rem; font-weight: 200">B.Sc. Computer Science with Honours (1:1)</span><span style="color: rgba(0,0,0,0.3); font-size: 1rem; font-weight: 200">&nbsp;&nbsp;&nbsp;2021 - 2024</span><br><br>
       <span style="font-size: 1.8rem">
<!--         Software Engineer <span style="font-size: 1.5rem;">&commat; &nbsp;&nbsp;</span> <img src="assets/images/codeweavers_logo.png" style="width: 2.2rem; height: auto">-->
         <div class="d-flex align-content-center justify-content-center">
          <div><img src="assets/images/codeweavers_logo.png" style="width: 2.2rem; height: auto"></div> <div><span style="font-size: 1.5rem;">&nbsp;&nbsp; Software Engineer</span></div>
         </div>

<!--         <img src="assets/images/codeweavers_logo.png" style="width: 2.2rem; height: auto"> <span style="font-size: 1.5rem;">&nbsp;&nbsp; Software Engineer</span>-->
       </span>
     </h1>

   </div>
   <div class="image-container">
      <img src="assets/images/image1.jpeg" style="margin-right: 2rem" alt="Image 1">
      <img src="assets/images/image2.jpeg" style="margin-right: 2rem" alt="Image 2">
      <img src="assets/images/image3.jpeg" style="margin-right: 2rem" alt="Image 3">
   </div>

   <div class="container justify-content-center d-flex text-center">
      <h3>About me...<br></h3>
   </div>

   <div class="container bio-container justify-content-center d-flex text-start" style="font-family: 'IBM Plex Serif', serif; font-weight: 300">
     <p>
       I am a software engineer specialising in frontend at Codeweavers based in Stafford, UK - having recently graduated in July 2024 with a B.Sc. Computer Science with Honours degree (1:1) from the University of Birmingham.<br><br>

       As a former student of the subject which I also consider one of my primary passions, I had decided to pursue this passion further by choosing to work in the field of software engineering. I have a thirst for exploring and learning about all developments in technology, and where it intersects with daily life.<br><br>

       I have also had the opportunity to explore several principles and methodologies relevant to software engineering, including but not limited to Extreme Programming, Agile, Test-Driven Development/Design (TDD), amongst others. <br><br>

       My passion for computers has led to a deep interest in programming, which has matured over the course of my studies in school and at university. The love I have for the field finds its roots in simply playing and experimenting, starting at a very young age, learning things by having a profound curiosity about how they work.<br><br>

       In addition to this, I have gained practical foundational knowledge of C# including the ASP.NET Core framework, experimenting with building Hire Purchase (HP) and Personal Contract Purchase (PCP) calculators in a test-driven manner, integrating them into a customer controller-based API. <br><br>

       In addition to these particular interests, I also devote myself to a wide range of things about which I am enthusiastic, all the way from music to mechanics.<br><br>

       I have learnt, having been afforded many opportunities over the course of my studies, that collaboration and teamwork is something I enjoy tremendously; knowing how to strike a balance between being receptive of new ideas and approaches, and having the confidence to lead and influence other people. I particularly thrive in groups where backgrounds are very diverse, and I find that the learning of others’ experiences, be it academically, professionally, or personally, is quite refreshing.<br><br>

       To summarise my professional goals, it is my aim to become an experienced Software Engineer, and to continue working in an environment where I know my genuine passion for the subject, and curiosity to delve into new concepts, can truly be reflected in the work I produce.
     </p>
   </div>
 </div>
