<div class="container justify-content-center d-flex text-center">
  <h1>
    <span style="font-size: 3rem;">Louis Parkes</span><br>
    <span style="color: rgba(0,0,0,0.5); font-size: 1.4rem; font-weight: 200">BSc Computer Science (2021 - Ongoing)</span><br><br>
    <span style="font-size: 1.8rem">Student of Computer Science<br>
      University of Birmingham
    </span>
  </h1>

</div>
<div class="image-container">
  <img src="assets/images/image1.jpeg" style="margin-right: 2rem" alt="Image 1">
  <img src="assets/images/image2.jpeg" style="margin-right: 2rem" alt="Image 2">
  <img src="assets/images/image3.jpeg" style="margin-right: 2rem" alt="Image 3">
</div>

<div class="container justify-content-center d-flex text-center">
  <h3>Biography<br></h3>
</div>

<div class="container bio-container justify-content-center d-flex text-center">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod lacinia at quis risus. Pulvinar elementum integer enim neque volutpat. Dignissim convallis aenean et tortor at risus viverra adipiscing at. Ridiculus mus mauris vitae ultricies. Ac felis donec et odio pellentesque diam volutpat commodo. Ultricies leo integer malesuada nunc vel risus commodo viverra. Urna nunc id cursus metus. Risus ultricies tristique nulla aliquet enim tortor at. Pulvinar sapien et ligula ullamcorper. Est lorem ipsum dolor sit amet consectetur adipiscing. Feugiat in ante metus dictum at. Turpis egestas integer eget aliquet nibh praesent tristique.
  </p>
</div>
